tmp
.data
.bundle
.idea
.vscode
coverage
.envrc
.editorconfig
.gitignore
tags
.pnp.*
.rspec
.tool-versions
docker-compose.yml
Dockerfile
Procfile.dev
node_modules
.ruby-lsp

# Assets must be compiled for production
public/css
