
<% bg_color = upcoming ? "bg-slate-950" : "bg-blue-500" %>
<div class="p-1 rounded-b text-white font-semibold uppercase text-center <%= bg_color %>">
  <span>
    <%= upcoming ? "Coming soon" : "Free Now" %>
  </span>
</div>
